/* 

** TABLE OF CONTENTS ** 02/01/2022

1. Nutrient Display: 
    the six columns presenting food nutritional information

2. Related Search List: 
    the list of searches with same keyword in title

3. Search Input Field: 
    the input field where one types food name

4. Serving Control Input Field:
    dropdown input for changing serving size (currently not used)

*/


/* Nutrient Display */

.nutrient-row {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  overflow: auto;
  align-content: left;
  column-gap: 0.675em;
}

.nutrient-col {
  background-color: rgb(24, 20, 20);
  border: 1px black solid;
  color: blanchedalmond;
  padding: 0.45em;
  margin: 1px;
  min-width: 10.4em;
  max-width: 12em;
  width:auto;
  height: 20em;
  box-shadow: 1px 2px 2px black;
  overflow: auto;
  position: relative;
}

.nutrient-frame {
  width:auto;
  color:blanchedalmond;
  background-color: rgb(24, 20, 20);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid black;
  padding: 0.6em;
  margin: 1px;
  height: 20em;
  cursor: pointer;
  box-shadow: 1px 2px 2px black;
}

.nutrient-frame-plus {
    margin-top: 9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nutrient-table {
    width: 100%;
    border-collapse: collapse;
    cursor: context-menu;
}

.nutrient-table-header {
    text-align: left;
}

.nutrient-table-row:hover {
    background-color: rgba(127, 255, 212, 0.308);
}

.nutrient-table-units {
    text-align: right;
    width: 4em;
}
.nutrient-table-label {
    width: 6em;
}

.nutrient-caption {
    color: blanchedalmond;
}

.nutrient-row-extended {
    margin-top: 0.8em;
}


/* Related Search List */

#related {
    cursor:pointer;
    color: blanchedalmond;
    text-decoration: dashed;
    list-style-type: none;
    padding:0;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.related__entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 4px;
    align-items: center;
}

.relatedList {
    text-transform: capitalize;
    font-size: 1em;
}

/* Input Bar */
.input {
    display: flex;
    flex-direction: row;
}

/* Search Input Field */

.search-control {
    width: 25em;
    color:blanchedalmond;
    padding:6px;
    font-size: 1.2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0.5px solid rgb(177, 175, 175);
    border-radius: 3px;
    box-shadow: rgb(17, 17, 175);
    background-color: rgb(37,37,37);
    border-style: groove;
}

/* Serving Control Input Field */

.serving-control {
    display: block; 
    text-align: left;
    min-width: 60px;
    color:blanchedalmond;
    padding:6px;
    font-size: 1.2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0.5px solid rgb(177, 175, 175);
    border-radius: 3px;
    box-shadow: rgb(17, 17, 175);
}

.serving-choices {
    text-decoration: none;
    list-style-type: none;
    padding-inline-start: 0px;
    margin:0px;
}

.serving-choice {
    position: relative;
    display: none;
}

.current-choice {
    display: inline;
}


/* Compare Table */

.remove-btn {
    background-color: blanchedalmond;
    color: black;
    border-radius: 100px;
    padding: 0.8rem;
    text-align: center;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    margin: 1rem;

}

.col-title {
    color: blanchedalmond;
    font-size: 1.2rem;
    text-transform: capitalize;
    overflow: hidden;
    width: 11em;
}

.compare-col {
    background-color: rgb(24, 20, 20);
    border: 1px black solid;
    color: blanchedalmond;
    padding: 0.45em;
    margin: 1px;
    width: 11em;
    height: 20em;
    box-shadow: 1px 2px 2px black;
    overflow: auto;
    position: relative;
  }
