body {
    font-size: 0.95em;
    padding: 0px;
    margin: 20px;
    background-color: rgb(37, 37, 33);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: blanchedalmond;
    font-size: 1.6em;
}

h4 {
    color:rgb(177, 175, 175);
    font-size: 1.3em;
}

a {
    color: blanchedalmond;
    text-decoration: none;
}

.navbar {
    text-align: left;
}

.navbar-brand {
    color: blanchedalmond;
    text-decoration: none;
}

.body {
    padding: 40px;
    padding-top:20px;
}

.container {
    align-content: center;
    display: flex;
    flex-direction: column;

}

.relatedList {
    text-transform: capitalize;
    font-size: 1em;
}

.nutrient-value-units {
    text-align: right;
}

.nutrient-value-vanish {
    display: none;
}

#profile {
    margin-top: 60px;
}

#searchUser {
    background-color: rgb(37,37,37);
    border-style: groove;

}

#entry2, #entry {
    width:100%;
}

.search-control {
    width: 400px;
    color:blanchedalmond;
    padding:6px;
    font-size: 1.2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0.5px solid rgb(177, 175, 175);
    border-radius: 3px;
    box-shadow: rgb(17, 17, 175);
}

.serving-control {
    position: absolute;
    display: inline-block; 
    text-align: left;
    width: 50px;
    color:blanchedalmond;
    padding:6px;
    font-size: 1.2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0.5px solid rgb(177, 175, 175);
    border-radius: 3px;
    box-shadow: rgb(17, 17, 175);
}

.serving-choices {
    text-decoration: none;
    list-style-type: none;
    padding-inline-start: 0px;
    margin:0px;
}

.serving-choice {
    position: relative;
    display: none;
}

.current-choice {
    display: inline;
}

th {
    text-align: left;
    font-size: 1.1em;
}

#similar {
    cursor:pointer;
    color: blanchedalmond;
    text-decoration: none;
}

.table-caption {
    color: blanchedalmond;
}

.invisible {
    display: none;
}

.extended {
    margin-top: 10px;
}



.plus {
    margin-top: 130px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}